body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; ;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
}
.fa-regular{
    color: #fe424d;
    font-size: 1.5rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-terms a{
    text-decoration: none;
    color: #222222;
    
}
.f-info-terms a:hover{
    text-decoration: underline;
    
}
.f-info-social a{
    margin-right: 5px;
    color: #222222;
    font-size: 1.25rem;
}
.f-info-social{
    width: 100%;
}

.f-info-terms{
    width: 100%;
}
.f-info-campany{
    width: 100%;
    font-size: 1.1rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    border: none !important;
    margin-bottom: 1.5rem;
}
.card-img-top{
    border-radius: 1rem!important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.price{
    font-weight: bold !important;
}
.listing-link{
    text-decoration: none !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.1;
    background-color: white;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hotel-img{
    height: 450px;
      
}
.insameline:hover .nesteddiv{
    display: flex;
    align-items: end;
    flex-direction: column;
}
.nesteddiv{
    display: none;
    /* position: relative; */
}
.delbtn {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
}
